<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서 등록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/common :: header}"/>
<div th:replace="~{fragments/common :: heading}"/>

<div class="float-end">
    <a th:href="@{/books/add(lang='en')}">English</a>
    <a th:href="@{/books/add(lang='ko')}">Korean</a>
</div>

<!--<div class="p-5 mb-4 bg-body-tertiary">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash;        <h1 class="display-3">도서 등록</h1>&ndash;&gt;-->
<!--        <h1 th:text="#{addBook.form.title.label}"/>-->
<!--    </div>-->
<!--</div>-->


<div class="container">
    <!--커맨드 객체를 NewBook으로 수정-->
    <!--    <form:form modelAttribute="NewBook" class="form-horizontal">-->
    <!--1.    -->
    <form th:action="@{/books/add}" th:object="${NewBook}" method="post" enctype="multipart/form-data">
        <fieldset>
            <!--컨트롤러에서 전달된 모델 속성 이름 addTitle 값을 출력-->
            <legend th:text="#{addBook.form.subtitle.label}"/>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.bookId.label}"/></label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{bookId}" class="form-control"/>
                </div>
                <div class="col-sm-6 text-danger" th:if="${#fields.hasErrors('bookId')}">
                    <p th:errors="*{bookId}"></p>
                </div>

            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.name.label}"/></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{name}" class="form-control"/>
                </div>
                <div class="col-sm-6 text-danger" th:if="${#fields.hasErrors('name')}">
                    <p th:errors="*{name}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.unitPrice.label}"/></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{unitPrice}" class="form-control"/>
                </div>
                <div class="col-sm-6 text-danger" th:if="${#fields.hasErrors('unitPrice')}">
                    <p th:errors="*{unitPrice}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.author.label}"/></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{author}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.description.label}"/></label>
                <div class="col-sm-5">
                    <input type="text" th:field="*{description}" cols="50" rows="2" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.publisher.label}"/></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{publisher}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.category.label}"/></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{category}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.unitsInStock.label}"/></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{unitsInStock}" class="form-control"/>
                </div>
                <div class="col-sm-6 text-danger" th:if="${#fields.hasErrors('unitsInStock')}">
                    <p th:errors="*{unitsInStock}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.releaseDate.label}"/></label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{releaseDate}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.condition.label}"/></label>
                <div class="col-sm-3">
                    <input type="radio" th:field="*{condition}" value="New"/>New
                    <input type="radio" th:field="*{condition}" value="Old"/>Old
                    <input type="radio" th:field="*{condition}" value="E-Book"/>E-Book
                </div>
            </div>
            <div class="form-group row">
                <label clas="col-sm-2 control-label"><h1 th:text="#{addBook.form.bookImage.label}"/></label>
                <div class="col-sm-7">
                    <!--파일을 업로드하려면 멀티파트 요청으로 인코딩 속성인 enctype="multipart/form-data"를 form태그안에 설정-->
                    <form th:action="@{/books/add}" th:object="${NewBook}" method="post" enctype="multipart/form-data">
                        <!--이미지 파일을 첨부하려면 form:input태그 안에 type="file"을 설정-->
                        <input type="file" name="bookImage"/>
                    </form>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="col-sm-3">
                        <input type="submit" class="btn btn-primary" th:value="#{addBook.form.button.label}">
                    </div>
                </div>
            </div>
        </fieldset>
        <!--    </form:form>-->
    </form>
    <hr>
</div>

<div th:replace="~{fragments/common :: footer}"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>