<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>도서 상세 정보</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script th:src="@{/js/controller.js}"></script>
</head>
<body>

<div th:replace="~{fragments/common :: header}"/>
<div th:replace="~{fragments/common :: heading}"/>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img th:src="@{${book.getImage_path()}}" style="width: 240px; height: 300px;">
        </div>
        <div class="col-md-8">
            <h3 th:text="${book.title}"></h3>
            <p th:text="${book.description}"></p>
            <br>
            <p><b>도서코드 : </b><span class="badge bg-info text-dark" th:text="${book.id}"/></p>
            <p><b>저자 : </b><span th:text="${book.author}"/></p>
            <p><b>출판사 : </b><span th:text="${book.publisher}"/></p>
            <p><b>출판일 : </b><span th:text="${book.release_date}"/></p>
            <p><b>분류 : </b><span th:text="${book.category}"/></p>
            <p><b>재고수 : </b><span th:text="${book.units_in_stock}"/></p>
            <p><b>가격 : </b><span th:text="${book.unit_price}+'원'"></span></p>
            <br>
            <form th:action="@{'/cart/add/' + ${book.id}}" method="post">
                <input type="hidden" name="bookId" th:value="*{book.id}">
                <input type="number" name="quantity" value="1" min="1">
                <button class="btn btn-success" type="submit">장바구니</button>
            </form>
            <form th:action="@{'/order/fromBook/' + ${book.id}}" method="post">
                <input type="hidden" name="bookId" th:value="*{book.id}">
                <input type="number" name="quantity" value="1" min="1">
                <button class="btn btn-primary" type="submit">주문</button>
            </form>


            <button class="btn btn-secondary" th:href="@{/books}">도서목록 &raquo;</button>
            <a class="btn btn-warning" th:href="@{'/books/update/' + ${book.id}}">수정</a>
            <!--            <button class="btn btn-danger deleteBook" th:data-book-id="${book.id}">삭제</button>-->
            <!--            <button class="btn btn-danger" onclick="deleteBook(${book.id})">삭제</button>-->

            <form id="deleteForm" th:action="@{'/books/deleteBook/' + ${book.id}}" method="post">
                <input type="hidden" name="bookId" th:value="*{book.id}">
                <button type="submit" class="btn btn-danger deleteBook">삭제</button>
            </form>
            <!--            <form id="deleteForm" th:action="@{'/books/' + ${book.id}}" method="post">-->
            <!--                <input type="hidden" name="_method" value="DELETE"/>-->

            <!--            </form>-->
        </div>
        </tr>
    </div>
</div>

<br>
<div class="container">
    <input type="hidden" id="id" th:value="${book.id}"/>
    <div class="form-floating">
        <textarea class="form-control addComment" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px"></textarea>
        <label for="floatingTextarea2">댓글을 입력하세요</label>
        <button class="btn btn-secondary comment" type="button">댓글 작성</button>
    </div>
    <br/>
</div>

<div id="comments">
    <div class="container text-center">
        <table class="table subjectTable">
            <thead>
            <tr>
                <th>번호</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody id="commentTableBody">
            <tr th:each="comment : ${comments}" th:data-comment-id="${comment.id}">
                <td th:text="${comment.id}"></td>
                <td class="editable-comment" th:text="${comment.content}" th:data-comment-content="${comment.content}"></td>
                <td th:text="${comment.user.username}"></td>
                <td class="date" th:text="${comment.createdAt}"></td>
                <td>
                    <button th:if="${#authentication.principal.username} == ${comment.user.username}" type="button" class="btn btn-primary updateComment">댓글수정</button>
                </td>
                <td>
                    <button th:if="${#authentication.principal.username} == ${comment.user.username}" type="button" class="btn btn-danger deleteComment">댓글삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{fragments/common :: footer}"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    var authenticatedUsername = /*[[${#authentication.principal.username}]]*/ '';
</script>
<script>
var header = $("meta[name='_csrf_header']").attr('content');
var token = $("meta[name='_csrf']").attr('content');

$(function() {
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
});

<!--댓글 쓰기-->
    $(document).ready(function () {
        $(".comment").click(function (event) {
            event.preventDefault();

            var bookId = $("#id").val();
            var content = $("#floatingTextarea2").val();

            if (!content) {
                alert("내용을 작성해야 합니다");
                return;
            }
            console.log("아이디:"+bookId);
            var commentData = {
                bookId: bookId,
                content: content
            };
            $.ajax({
                type: "POST",
                url: "/comment/add/"+bookId,
                contentType: "application/json",
                data: JSON.stringify(commentData),
                success: function (comment) {
                    console.log("COMMENT"+comment);
                    console.log("COMMENT JSON", JSON.stringify(comment));
                    // 댓글을 출력하거나 목록을 갱신하는 로직을 작성합니다
                    getCommentsAndRenderList(bookId);
                }
            });
        });
    });

<!--댓글목록갱신-->

function getCommentsAndRenderList(bookId) {
<!--    var bookId = $("#id").val();-->
    console.log("댓글책아이디:"+bookId);
    $.ajax({
        type: "GET",
        url: "/comment/list/" + bookId,
        success: function (comments) {
            var addComment = $(".addComment");
            addComment.val('');
            var tableBody = $("#commentTableBody");
            tableBody.empty();
            console.log("받은 댓글 데이터:"+comments);
            $.each(comments, function (index, comment) {
                var row = "<tr th:data-comment-id='" + comment.id + "'>" +
                          "<td>" + comment.id + "</td>" +
                          "<td>" + comment.content + "</td>" +
                          "<td>" + comment.user.username + "</td>" +
                          "<td>" + comment.createdAt + "</td>" +
                          "<td>" +
                          "<button th:if='" + authenticatedUsername + " == " + comment.user.username + "' type='button' class='btn btn-primary updateComment'>댓글수정</button>" +
                          "</td>"+
                          "<td>"+
                          "<button th:if='" + authenticatedUsername + " == " + comment.user.username + "' type='button' class='btn btn-primary deleteComment'>댓글삭제</button>"+
                          "</td>";
                tableBody.prepend($(row));
            });
        }
    });
}

<!--댓글 수정-->
$(document).ready(function(){
    $(".updateComment").click(function(){
        var $commentCell = $(this).closest("tr").find(".editable-comment");
        var originalContent = $commentCell.text().trim();
        $commentCell.html('<textarea class="form-control edited-comment">'+originalContent+'</textarea><button class="btn btn-primary saveComment">저장</button>');
    });
    $(document).on("click",".saveComment",function(){
        var $commentCell = $(this).closest("tr").find(".editable-comment");
        var editedContent = $commentCell.find(".edited-comment").val().trim();
        var commentId = $(this).closest("tr").data("comment-id");
        $.ajax({
            type: "POST",
            url: "/comment/update/"+commentId,
            data: {content: editedContent},
            success: function(response){
                $commentCell.text(editedContent);
                $(this).closest("tr").find(".date").text(response.createdAt);
            },
            error: function(xhr, status, error){
                console.error(xhr.responseText);
            }
        });
    });
});

<!--댓글 삭제-->
$(".deleteComment").on("click", function(e) {
    console.log("댓삭 버튼 클릭됨");
    var clickedBtn = $(this);
    deleteComment(clickedBtn.closest("tr"), clickedBtn);
});

function deleteComment(row, clickedBtn){
    console.log("댓삭중");
    var commentId = row.data("comment-id");
    console.log("commentId:"+commentId);
    $.ajax({
        type: "POST",
        url: "/comment/delete/" +commentId,
        data: {
            commentId:commentId
        },
        success: function(data) {
            console.log("삭제 성공");
            clickedBtn.closest("tr").remove();
        },
        error: function(error) {
            console.log("에러발생:"+error);
        }
    });
};


    <!--    <button class="btn btn-secondary commentUpdate" type="button">댓글 수정</button>-->
    <!--    <button class="btn btn-secondary commentDelete" type="button">댓글 삭제</button>-->

<!--&lt;!&ndash;책 삭제&ndash;&gt;-->
<!--$(".deleteBook").on("click", function(e) {-->
<!--    console.log("삭제클릭");-->
<!--    var clickedBtn = $(this);-->
<!--    var row = clickedBtn.closest("tr");-->
<!--    console.log("삭제중")-->
<!--    var bookId = row.data("book-id");-->
<!--    console.log("bookId"+bookId);-->
<!--    $.ajax({-->
<!--        url: "/books/deleteBook/"+bookId,-->
<!--        type: "post",-->
<!--        data: {"bookId": bookId},-->
<!--        success: function (data) {-->
<!--            clickedBtn.closest("tr").remove();-->
<!--            console.log("삭제완료");-->
<!--        }-->
<!--    });-->
<!--});-->




<!--$(document).ready(function() {-->

<!--    console.log("로그인됨?"+isLoggedIn);-->
<!--    console.log("유저네임:"+username);-->

<!--    if (isLoggedIn) {-->
<!--        $(".updateComment").show();-->
<!--        $(".deleteComment").show();-->
<!--    } else {-->
<!--        $(".updateComment").hide();-->
<!--        $(".deleteComment").hide();-->
<!--    }-->

<!--    /*]]>*/-->
<!--});-->

<!--&lt;!&ndash;댓글작성자만 수정,삭제 버튼이 보이게&ndash;&gt;-->
<!-- /*<![CDATA[*/-->

<!--var isLoggedIn = /*[[${username != null}]]*/ false;-->
<!--var username = /*[[${username}]]*/ '';-->
<!--function getCommentsAndRenderList(bookId) {-->
<!--    var bookId = $("#id").val();-->
<!--            var content = $("#floatingTextarea2").val();-->
<!--            console.log("댓글리스트책아이디:"+bookId);-->
<!--            var comments = {-->
<!--                bookId: bookId,-->
<!--                content: content-->
<!--            };-->
<!--    // 댓글 목록을 가져오는 Ajax 호출-->
<!--    $.ajax({-->
<!--        type: "GET",-->
<!--        url: "/books/comments/" + bookId,-->
<!--        success: function (comments) {-->
<!--            // 댓글 목록을 출력하는 로직-->
<!--            renderComments(comments);-->
<!--        }-->
<!--    });-->
<!--}-->

<!--function renderComments(comments) {-->
<!--    &lt;!&ndash;comments를 이용하여 댓글 목록을 화면에 출력하는 로직을 작성&ndash;&gt;-->
<!--    var commentsContainer = $("#commentTableBody");-->
<!--    commentsContainer.empty(); // 기존 내용을 지우고 새로운 목록을 추가-->

<!--    // comments를 이용하여 댓글 목록을 화면에 추가하는 로직-->
<!--    for (var i = 0; i < comments.length; i++) {-->
<!--        var comment = comments[i];-->
<!--        var commentHtml = "<tr>";-->
<!--        commentHtml += "<td>" + comment.id + "</td>";-->
<!--        commentHtml += "<td>" + comment.content + "</td>";-->
<!--        commentHtml += "<td>" + comment.user_id + "</td>";-->
<!--        commentHtml += "<td>" + comment.created_at + "</td>";-->
<!--        commentHtml += "<td><button type='button' class='btn btn-primary updateComment'>댓글수정</button></td>";-->
<!--        commentHtml += "<td><button type='button' class='btn btn-primary deleteComment'>댓글삭제</button></td>";-->
<!--        commentHtml += "</tr>";-->
<!--        commentsContainer.append(commentHtml);-->
<!--    }-->
<!--}-->


<!--    const deleteForm = document.getElementById('deleteForm');-->
<!--    deleteForm.addEventListener('submit', function (event) {-->
<!--        event.preventDefault(); // 폼 제출 방지-->
<!--        fetch(deleteForm.action, {-->
<!--            method: 'DELETE'-->
<!--        }).then(response => {-->
<!--            if (response.status === 200) {-->
<!--                // 삭제 성공-->
<!--                // 원하는 동작 수행-->
<!--                window.location.href = '/books';-->
<!--            } else {-->
<!--                // 삭제 실패-->
<!--                // 에러 처리-->
<!--            }-->
<!--        });-->
<!--    });-->

<!--const deleteForm = document.getElementById('deleteButton');-->
<!--deleteForm.addEventListener('click', function (event) {-->
<!--event.preventDefault(); // 폼 제출 방지-->

<!--// 사용자에게 삭제 확인을 묻는 팝업 창 표시-->
<!--var confirmDelete = confirm('삭제하시겠습니까?');-->

<!--if (confirmDelete) {-->
<!--fetch(deleteForm.action, {-->
<!--method: 'DELETE'-->
<!--}).then(response => {-->
<!--if (response.status === 200) {-->
<!--// 삭제 성공-->
<!--alert('삭제 성공');-->
<!--window.location.href = '/books'; // 삭제 후 리다이렉트-->
<!--} else {-->
<!--// 삭제 실패-->
<!--alert('삭제 실패');-->
<!--}-->
<!--});-->
<!--} else {-->
<!--// 사용자가 "아니오"를 클릭한 경우 아무 작업도 수행하지 않음-->
<!--alert('삭제 작업이 취소되었습니다');-->
<!--}-->
<!--});-->

<!--    const deleteForm = document.getElementById('deleteButton');-->
<!--    deleteForm.addEventListener('click', function (event) {-->
<!--        event.preventDefault(); // 폼 제출 방지-->

<!--        // 사용자에게 삭제 확인을 묻는 팝업 창 표시-->
<!--        var confirmDelete = confirm('삭제하시겠습니까?');-->

<!--        if (confirmDelete) {-->
<!--            fetch(deleteForm.action, {-->
<!--                method: 'DELETE'-->
<!--            }).then(response => {-->
<!--                if (response.status === 200) {-->
<!--                    // 삭제 성공-->
<!--                    alert('삭제 성공');-->
<!--                    window.location.href = '/books'; // 삭제 후 리다이렉트-->
<!--                } else {-->
<!--                    // 삭제 실패-->
<!--                    alert('삭제 실패');-->
<!--                }-->
<!--            });-->
<!--        } else {-->
<!--            // 사용자가 "아니오"를 클릭한 경우 아무 작업도 수행하지 않음-->
<!--            alert('삭제 작업이 취소되었습니다');-->
<!--        }-->
<!--    });-->






</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>