<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Your Cart</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>도서 제목</th>
            <th>단가</th>
            <th>수량</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate through cartItems and display book information -->
        <tr th:each="cartItem : ${items}">
            <td th:text="${cartItem.book.title}"></td>
            <td th:text="${cartItem.book.unit_price}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <td th:text="${cartItem.book.unit_price * cartItem.quantity}"></td>
            <td>야 임마</td>
        </tr>
        </tbody>
    </table>
    <!-- Display total price -->
    <p>Total Price: <span th:text="${totalPrice}"></span></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>
