<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>


<div th:replace="~{fragments/common :: header}"/>
<div th:replace="~{fragments/common :: heading}"/>

<div class="container">
    <form class="form-signin" th:action="@{/join}" method="post">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Please Sign in</h2>
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" id="username" placeholder="아이디" oninput="doubleIdChk()">
                    <span id="possible" style="display:none; color:blue">사용 가능한 아이디입니다.</span>
                    <span id="impossible" style="display:none; color:red">이미 존재하는 아이디입니다.</span>
                    <!-- 이 부분을 추가하여 중복 아이디 오류 메시지를 표시합니다 -->
                    <span th:if="${duplicateUsernameError}" class="text-danger" th:text="${duplicateUsernameError}">중복 아이디 오류 메시지가 여기에 표시됩니다.</span>

                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="password"
                           placeholder="비밀번호, 8자 이상, 숫자, 대문자, 소문자, 특수문자 포함" oninput="passwordReg()">
                    <span id="reg" style="display:none; color:red">비밀번호는 8자 이상, 숫자, 대문자, 소문자, 특수문자를 포함해야 합니다.</span>
                    <span id="ok" style="display:none; color:blue">비밀번호 사용가능</span>
                    <input type="password" class="form-control" name="passwordCheck" id="passwordCheck"
                           placeholder="비밀번호 확인" oninput="passwordChk()">
                    <span id="match" style="display:none; color:blue">비밀번호 일치</span>
                    <span id="mismatch" style="display:none; color:red">비밀번호 불일치</span>
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary btn-block">회원가입</button>
                </div>

            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
<!--아이디 일치-->
function doubleIdChk(){
    let checkUsername = $('input[name=username]').val();
    $.ajax({
        url: "/doubleIdChk",
        type: 'post',
        data: {"username": checkUsername},
        success: function(result){
            console.log(result);
            <!--db에 없는 아이디이면 '사용가능한 아이디' 문구 나오고, 이미 존재하는 아이디 문구 없어지게-->
            if(result==0){
                $('#possible').css("display","inline-block");
                $('#imppssible').css("display","none");
            } else{
                $('#possible').css("display","none");
                $('#imppssible').css("display","inline-block");
            }
        }
    })
}

<!--비밀번호 일치-->
function passwordChk(){
    let password = $('input[name=password]').val();
    let passwordChk = $('input[name=passwordCheck]').val();
        if(password==passwordChk){
            $('#match').css("display","inline-block");
            $('#notMatch').css("display","none");
        } else{
            $('#match').css("display","none");
            $('#notMatch').css("display","inline-block");
            $('#passwordChk').val('');
            }
        }
    })
}

<!--정규식 함수-->
 function passwordReg() {
        let password = $('input[name=password]').val();
        // 정규식
        let reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
        if (!reg.test(password)) {
            $('#reg').css("display", "inline-block");
            $('#ok').css("display", "none");
        } else {
            $('#reg').css("display", "none");
            $('#ok').css("display", "inline-block");
        }
    }
</script>

<!--<div class="container">-->
<!--    <form class="form-signin" th:action="@{/login}" method="post">-->
<!--        <h6 class="h3 mb-3 font-weight-normal">이루다숲</h6>-->
<!--        <div th:if="${param.error}" class="alert alert-danger" role="alert">-->
<!--            Invalid username and password.-->
<!--        </div>-->
<!--        <label for="username" class="sr-only">Username</label>-->
<!--        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>-->
<!--        <label for="inputPassword" class="sr-only">Password</label>-->
<!--        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>-->
<!--        <button class="btn btn-lg btn-success btn-block" type="submit">로그인</button>-->
<!--        <a href="/oauth2/authorization/google">구글로그인</a>-->
<!--    </form>-->
<!--</div>-->
<div th:replace="~{fragments/common :: footer}"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>